<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Aruga<b>Z</b></a>
            <small>ArugaZ - Restful API</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST" action="/user/register">
                    <div class="msg">Register a new membership</div>
                    {{#if message}}
                    <div class="msg col-{{messageClass}}">{{message}}</div>
                    {{/if}}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="firstName" placeholder="Frist Name" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="userName" placeholder="User Name" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" minlength="6" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="confirmPassword" minlength="6" placeholder="Confirm Password" onkeyup="onChange()" onChange="onChange()" required>
                        </div>
                    </div>
					<div class="g-recaptcha" data-sitekey="your google captcha html"></div>
					<div id="PeSaNFalse" class="msg col-red"></div>
                    <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a href="/user/login">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="/js/admin.js"></script>
    <script src="/js/pages/examples/sign-up.js"></script>
	
	<!-- Google ReCaptha -->
	<script src="https://www.google.com/recaptcha/api.js"></script>
	
	<!-- Check Password -->
	<script>
	function onChange() {
	  const password = document.querySelector('input[name=password]');
	  const confirm = document.querySelector('input[name=confirmPassword]');
	  if (confirm.value === password.value) {
		document.getElementById('PeSaNFalse').innerHTML = '';
	  } else {
		document.getElementById('PeSaNFalse').innerHTML = 'Passwords do not match';
	  }
	}
	</script>
</body>
